@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-bg: #ffffff;     // Ivory background
$color-primary: #7B1113; // Deep Maroon
$color-accent: #D3AF37;  // Royal Gold
$color-text: #1f1f1f;    // Main body text
$color-muted: #555555;   // Subtle text tone

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    background-color: $color-bg;
    font-size: 1.125rem;
    line-height: 1.7;
    color: #5e5d60;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: $color-primary;
}

.container{overflow: hidden;}

.sec-padding {
    padding: 6rem 0;
}

.img-shadow {
    // box-shadow: 0rem 1rem 2.5rem rgb(63 20 115 / 5%);
}

.btn-solid {
    font-family: 'Montserrat';
    font-weight: 500;
    border: 0.0625rem solid $color-primary;
    background: $color-primary;
    color: #fff;
    padding: 11px 32px;
    transition: .5s all ease-in-out;

    &:hover {
        color: #fff;
        background: $color-primary;
    }
}

.btn-border {
    font-family: 'Montserrat';
    font-weight: 500;
    border: 0.0625rem solid $color-primary;
    background: transparent;
    color: $color-primary;
    padding: 11px 32px;
    transition: .5s all ease-in-out;

    &:hover {
        color: $color-primary;
        background: #efe8f1;
    }
}

.sub-header {
    h2 {
        font-size: 42px;
        font-weight: 900;
        color: $color-primary;
    }

    h3.border-text {
        margin-bottom: -4.5rem;
        font-size: 60px;
        font-weight: 900;
        -webkit-text-stroke: 1px #bda4c769;
        -webkit-text-fill-color: transparent;
    }
}

.box-shadow {
    // box-shadow: 0rem 1rem 2.5rem rgb(63 20 115 / 3%);
}

.social-media-part i {
    color: $color-primary;
    border: 0.025rem solid #b2a1c7;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 1.9;
    height: 32px;
    width: 32px;
    text-align: center;

    &:hover {
        color: #f9f8fb;
        border: 0.025rem solid $color-primary;
        background-color: $color-primary;
        transition: 0.4s all ease-in-out;
        transform: rotate(360deg);
    }
}

.scroll-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    background-color: #391268;
    border-radius: 50%;
    color: #f7f6f9;
    transition: .5s all ease-in-out;
    height: 44px;
    width: 43px;
    text-align: center;
    line-height: 2.3;
    visibility: hidden;
}

.scroll-top.visible {
    visibility: visible;
}

// navber
.portflio-navber {
    background-color: #fdfdfe;

    .navbar-brand {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 32px;
        color: #000;
    }

    a.nav-link {
        color: #000;
        font-size: 0.85rem;
        font-family: 'Montserrat';
        font-weight: 600;
    }
}

// banner
.hero-banner {
    .banner-images {
        max-width: 500px;
        text-align: center;
    }

    .wcmp-typewrite-header {
        color: #947a27;
        text-decoration: none;
        cursor: unset;
    }

    .wcmp-typewrite-header:hover {
        // color: #ad8eb9;
        text-decoration: none;
    }
}

// my work
.mywork-card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.25rem, 1fr));
    grid-gap: 2rem;
    padding: 3.5rem 0 0;

    .work-image {
        border-radius: .25rem;
        overflow: hidden;
    }

    h6.work-title {
        font-weight: 600;
        color: $color-primary;
        padding: 1rem 0 0;
        text-align: center;
    }
}

// skill
.skill-card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.25rem, 1fr));
    grid-gap: 2rem;
    padding: 3.5rem 0 0;
    text-align: center;

    .skill-card-item {
        background: #efe8f1;
        padding: 2rem 2rem 4rem;
        border-radius: 0.25rem;

        .card-icon {
            font-size: 3.5rem;
            padding: 0 0 .5rem;
            color: $color-primary;
        }

        h6.card-title {
            font-size: 1.125rem;
            font-weight: 700;
            position: relative;

            &::after {
                position: absolute;
                background: $color-primary;
                bottom: -20px;
                left: 50%;
                content: "";
                height: 0.13rem;
                width: 44px;
                transform: translateX(-50%);
            }
        }
    }

}

// footer


.portfolio-footer {
    background-color: #000;

    .social-media-part i {
        color: #fdfdfe;

        &:hover {
            color: #000;
            background-color: #fdfdfe;
        }
    }

    .footer-mail {
        font-family: "Montserrat", sans-serif;
        color: #bda4c7ab;
        margin: 0;
        font-size: 0.85rem;
        text-align: right;
        display: block;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p.copywright {
        font-size: 0.85rem;
        font-family: "Montserrat", sans-serif;
    }
}